<div class="px-4">
  <div class="toolbox-field toolbox-field--not-empty">
    <div class="toolbox-field__label">{{label}}</div>
    <div class="toolbox-field__data">
      <div class="toolbox-field__value">
        {{yield}}
      </div>
    </div>
  </div>
</div>
