<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">

<title>{{ page.title }}</title>

<meta name="theme-color" content="#ffffff">

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">

<link rel="stylesheet" href="{{ site.baseurl }}/sass/app.css">
<link rel="stylesheet" href="{{ site.baseurl }}/sass/plugins.css">
<link rel="stylesheet" href="{{ site.baseurl }}/sass/components.css">


{% comment %} jQuery {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/jquery-ui.min.js"></script>
