<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">

<title>{{ page.title }}</title>

{% comment %} jQuery {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/jquery-ui.min.js"></script>

{% include default-css.html  %}
<link rel="stylesheet" href="{{ site.baseurl }}/sass/toolbox-selector.css">
<link rel="stylesheet" href="{{ site.baseurl }}/sass/toolbox-selector-draggable.css">


<link rel="stylesheet" href="{{ site.baseurl }}/sass/toolbox-table.css">
<link rel="stylesheet" href="{{ site.baseurl }}/sass/toolbox-field.css">
<link rel="stylesheet" href="{{ site.baseurl }}/sass/toolbox-modal.css">
